			<!-- Slider -->
			<div id="slider-block">
				<div id="slider-holder">
					<div id="slider">
						<a href="https://docs.neuroml.org"><img src="../images/newdocs.png"  alt=""  title=""/>
                        </a>
						<a href="https://www.incf.org/sbp/neuroml"><img src="../images/endorsed.png"  alt=""  title=""/></a>
            <a href="http://co.mbine.org/standards/neuroml"><img src="../images/combine.png"  alt=""  title=""/></a>
						<a href="http://www.opensourcebrain.org/projects"><img src="../images/osbnivo_mod2.png"  alt=""  title=""/></a>
						<a href="http://moose.sourceforge.net/"><img src="../images/moose_mod.png" title="" alt="" /></a>
						<a href="http://www.openworm.org/"><img src="../images/openworm2-mod.png" title="" alt="" /></a>
					</div>

				</div>
			</div>
			<!-- ENDS Slider -->
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">


					<!-- content  -->
					<div id="content">
						<!-- 3 cols -->
						<div class="one-half">
							<h6 class="line-divider">Our Mission </h6>
							<p>Computational models based on detailed neuroanatomical and electrophysiological data have been used for many years as an
                                aid for understanding the function of the nervous system. NeuroML is an international, collaborative initiative to
                                develop a language for describing detailed models of neural systems.
</p>
Read more in our new documentation at <b><a href="https://docs.neuroml.org/Userdocs/MissionAndAims.html">docs.neuroml.org</a></b>!
<br>
<br>
<br>
<h6 class="line-divider">The aims of the NeuroML initiative are:</h6>
<ul class="bluebullets">
			<li>
				To create specifications for an XML-based language that describes the biophysics, anatomy and network architecture of neuronal systems at multiple scales,</li>

			<li>
				To facilitate the exchange of complex neuronal models between researchers, allowing for greater transparency and accessibility of models,</li>

			<li>
				To promote software tools which support NeuroML and support the development of new software and databases for neural modeling, and</li>

			<li>
				To encourage researchers with models within the scope of NeuroML to exchange and publish their models in this format.</li>
		</ul>
        <br/>
        The NeuroML specifications are developed by the <a href="https://docs.neuroml.org/NeuroMLOrg/Board.html">NeuroML Editorial Board</a>, overseen by the <a href="https://docs.neuroml.org/NeuroMLOrg/ScientificCommittee.html">Scientific Committee</a>.
						</div>

<div class="one-half">
						<div>
							<h6 class="line-divider">Introduction </h6>
							<p>The NeuroML project focuses on the development of an <a href="http://www.w3schools.com/xml/default.asp">XML (eXtensible Markup Language)</a> based description language
that provides a common data format for defining and exchanging descriptions of neuronal cell and network models.
The current approach in the project uses <a href="http://www.w3schools.com/schema/default.asp">XML schemas</a> to define the model specifications.</p><a href="/introduction" class="link-button right"><span>Read more &#8594;</span></a>
					<!--	<div class="clear "></div> -->
						</div>


							<h6 class="line-divider">News And Events</h6>

							<ul class="bluebullets">



<li><b>The NeuroML documentation has recently been significantly updated. Please check out <a href="http://docs.neuroml.org">docs.neuroml.org</a>!</b>
</li>

<li><b>A NeuroML development workshop was held as part of the annual COMBINE meeting in October 2021.</b><br/>
<p style="text-align:right;"><a href="https://docs.neuroml.org/Events/202109-COMBINE.html">Read More...</p></a>
</li>


<li><b>NeuroML is now an endorsed community standard at the International Neuroinformatics Coordinating Facility (INCF).</b><br />
<p style="text-align:right;">
<a href="https://www.incf.org/sbp/neuroml">Read More...</p>
</a>
</li>

<li><b> The fifth NeuroML Editorial Board Meeting took place at the CNS meeting in Barcelona, Monday 15th July, 2019.<br />
<p style="text-align:right;"><a href="https://docs.neuroml.org/NeuroMLOrg/BoardMeetingReports.html">Read More...</p></a>
</li>


<li><b>NeuroML is now an official standard of COMBINE (the COmputational Modeling in BIology NEtwork)<br />
<p style="text-align:right;"><a href="http://co.mbine.org/standards">Read More...</p></a>
</li>


<a href="https://docs.neuroml.org/NeuroMLOrg/BoardMeetingReports.html" class="link-button right"><span>More Events &#8594;</span></a>
</ul>


						<div class="clear "></div>
</div>
						<!-- ENDS 3 cols -->
					</div>
					<!-- ENDS content -->
				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
