
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">News And Events</span>
						</div>
						<!-- ENDS title -->
						
						<!-- ENDS page-content -->
						Redirecting...
        <script>
          location.replace("workshops")
        </script>
						
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
