
			

			
			<!-- MAIN -->
			<div id="main">
				<!-- wrapper-main -->
				<div class="wrapper">
					
					<!-- content -->
					<div id="content">
						
						<!-- title -->
						<div id="page-title">
							<span class="title">Pynn and NeuroML</span>
						</div>
						<!-- ENDS title -->
						
<p><a href="http://neuralensemble.org/trac/PyNN">PyNN</a> and NeuroML are independently developed approaches to allow portability of models across simulators.
    These reflect 2 differing approaches to model specification:</p>
    <ul>
        <li><b>Declarative specification:</b> the structure of the model is explicitly specified in a structured model exchange format. XML is well suited as a basis
            for a language in this format, and is used by NeuroML as well as <a href="http://www.sbml.org">SBML</a> and <a href="http://www.CellML.org">CellML</a>.</li>

        <li><b>Procedural specification:</b> the function calls or procedures for building a model are standardised. This is the case with PyNN, where Python scripts can
            be used to create simulations on multiple simulators.
        </li>
    </ul>
<br />
    <p>These approaches are complementary, and a number of options are available to allow interaction between PyNN and model components in NeuroML
        (in particular <a href="alpha_schema">NeuroML v2.0</a>).</p>



    <br/>
    <table id="highlighted" align="center" bgcolor="#CECEDE" border="1px" width="40%" frame="box">
        <tr><td>Information on the latest developments towards greater interaction between PyNN & NeuroML2 can be 
            found here <a href="https://github.com/NeuroML/NeuroML2/issues/73">here</a> and examples of the conversions can be found on 
            <a href="https://github.com/OpenSourceBrain/PyNNShowcase">Open Source Brain</a>.</td>
        </tr>
    </table>
    <br/>
    <br/>

				
								<div class="clear"></div>
						<!-- ENDS project column (right) -->
						
						
					</div>
					<!-- ENDS content -->

				</div>
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
